<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Logs</title>
</head>
<body>
    <form action="/{{user_id}}/{{tracker.tracker_id}}/{{logs.id}}/updatelogs/" method="POST">
        
        <p>Time</p>
        <input type="string"  name="time" id="time" value={{time}}>
        <p>Date</p>
        <input type="string" name ="date" id="date" value = {{logs.timestamp}}>
        <p>Value</p>
        <input type="text" name ="value" id="value" value = {{logs.value}}>
        <p>Note(anything unusual)</p>
        <input type="text" name="note" id="note" value = {{logs.note}}>
        <br>
        <br>
        <input type="submit" name="" value = "update logs" id="">
            
    </form>
</body>
</html>